h1, h2 {
  text-align: center;
}

body {
  width: 612px; 
  margin: auto;
  background-color: rgb(235, 234, 234);
}

.list-group, fieldset {
  width: 240px;
  margin: 15px 0px;
}

.list-group-item {
  margin-bottom: 4px;
}

#cityName {
  margin-bottom: 4px;
}

#map {
  margin: auto;
  display: block;
}
