h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  padding-top: 5px;
  text-decoration: underline;
}

h2 {
  margin: 8px;
}

#root {
  width: 616px; 
  margin: auto;
  background-color: lightsalmon;
  border-left: 2px solid black;
  border-right: 2px solid black;
  min-height: 960px;
}

body {
  background-color: antiquewhite;
}

.city-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#city-name {
  width: 50%;
  display: inline-block;
  margin-right: 5px;
}

.list-group, fieldset {
  margin: 15px 0px;
  display:block;
}

.list-group-item {
  margin-bottom: 4px;
  width: 50%;
  display: inline-block;
}

#map {
  margin: 20px auto;
  display: block;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
